:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --while: #ffffff;
    --lightyellow:#FDFCF5;
}

*{
    font-family: "Helbetica Neueu", Helbetiva, Arial;
    background-color: var(--yellow);
    margin: 0;
}


p{
    background-color: inherit;
    color:var(--green);
}

img{
    object-fit: cover;
    border-radius: 8px;
}



/* input style */

.input{
    border-radius: 50px;
    border: none;
    border-color: white;
    border-width: 1px;
    background-color: var(--lightyellow);
    padding: 4px 20px;
    width: 400px;
}



a{
    text-decoration: none;
    color: var(--yellow);
    background-color: var(--green);
    
    
    
  
}



/* button style */

button{
    font-family: "Arial Black";

}

.btn--Primary{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--green);
    color:var(--yellow);
    padding: 10px 20px;
    /* box-shadow: 3px 3px 4px ; */
    
}

.btn--Primary:hover{
    border: solid;
    border-color: var(--green);
    color: white;
    cursor: pointer;    
}

.btn--Default{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--yellow);
    color:var(--green);
    padding: 10px 20px;
    cursor: pointer;  
}


.btn--Default:hover{
    background-color: white;
}


/* icon style */

.fas{
    background-color: var(--green);
    margin-left: 4px;
    color: var(--yellow);
    cursor: pointer;
  
}

.far{
    color: var(--green);
}



/* text style */

.title--big{
    font-size: 20px;
    font-weight: bold;
}

.title--small{
    font-size: 18px;
}

.title--book{
    font-size: 16px;
    font-weight: bold;
}

.paragraph{
    font-size: 14px;
    color: var(--darkgray);
    line-height: 1.4;
}

.showall{
    font-size: 14px;
    background-color: inherit;
    color: var(--green);
    cursor: pointer;
    float: right;
}

.price{
    font-size: 18px;
}

.selected{
    color: var(--yellow);
    font-size: 16px;
    cursor: pointer;
}

.unselected{
    color:var(--gray);
    font-size: 14px;
}

.unselected:hover{
    cursor: pointer;
    color: white;
}


/* images styles */
.image--list{
    width: 120px;
    height: 180px;
   
}

.image--page{
    width: 200px;
    height: 300px;
}

.image--side{
    width: 60px;
    height: 90px;
    margin-right: 6px;
}

.image--aboutus{
    width:300px;
}


