:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --white: #ffffff;
    --lightyellow:#FDFCF5;
}

*{
    background-color: var(--yellow);
}



.container--catetitle{
    margin-left: 8%;
    margin-top: 26px;
}

.font--catetitle{
    color: var(--green);
    font-size: 26px;
    font-weight: bolder;
}

.container--cateselectionbar{
    margin-top: 12px;
    margin-right: 8%;
    overflow: auto;
}

.container--cateselectionbar>*+*{
    margin-left: 24px;
}

.font--selectionbar{
    color: var(--darkgray);
    font-size: 17px;
}

.font--selectionbar:hover{
    color: var(--green) !important;
}

.font--selected{
    font-weight: bolder;
    color: var(--green);
}


/* header */
.container--cateheader{
    margin-top: 36px;
    margin-left: 8%;
    margin-right: 8% !important;
    /* min-width: 1000px; */
}

.container--cateheadtertext{
    margin-bottom: 4px;
}


.flex--filter{
    color: var(--green);
    font-weight: bolder;
    font-size: 14px;
    width: 240px;
    padding-left: 2%;

}

.flex--result{
    color: var(--darkgray);
    font-size: 14px;
    width: 60%;
}

.flex--sortby{
    font-size: 14px;


    
}

.hr--cateheader{
    border: solid 1px;
    color: var(--green);
}



.container--catebody{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 24px;
    /* min-width: 1000px; */
}

.container--filterbar{
    width: 280px;
    margin-left: 1%;
    
}

.container--filteritem{
    margin-left: 16px;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-right: 30px;
}

.font--filtertitle{
    color: var(--green);
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.container--filtertext>*+*{
    margin-top: 10px;
}

.container--filtercheckbox>*+*{
    margin-top: 8px;

}

.font--filtertext{
    color: var(--green);
    font-size: 14px;

}

.checkbox{
   
    /* margin-left: 80px; */
    vertical-align:middle;


    
}



/* product list */
.container--productlist{
    /* border: solid; */
    width: 100%;
    flex-wrap: wrap;
    margin-left: 20px;
    /* width: 800px; */
}

.container--productcard{
    width: fit-content;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 30px;

}

.image--list{
    width: 150px;
    height: 225px;
    border-radius: 10px;
    object-fit: cover;
   
}

.container--author>p{
    font-size: 12px;
    color: var(--green);
}

.font--by{
    color: var(--darkgray) !important;
    margin-right: 4px;
}

.font--title{
    font-weight: bolder;
    color: var(--green);
   
}

.font--price{
    font-size: 20px;
    color: var(--green);
}

.card--hr{
    border: solid var(--yellow) 1px;
    border-radius: 50px;
    margin-top: 4px;
    /* margin-bottom: 4px; */
}

.fa-shopping-cart{
    cursor: pointer;
  
}

/* page */
.container--page{
    /* float: right; */
    margin-left: 8%;
    margin-right: 8%;
    color: var(--darkgray);
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 60px;
   

}



.container--page>*+*{
    margin-left: 16px;
}

.color--gray{
    color: var(--darkgray);
}

.color--gray:hover{
    color: var(--darkgray) !important;
    cursor: initial;
}

.color--green{
    color: var(--green);
}

.container--star{
    width: 0;
    height: 0;
    visibility: hidden;
}

.mobilepage, .container--buttons{
    width: 0;
    height: 0;
    visibility: hidden;
}




@media screen and (max-width:567px) {
    .container--cateheader, .container--filterbar, .container--page{
        width: 0;
        height: 0;
        visibility: hidden;
        margin: 0;
    
    }

    .container--productlist{
        margin: 0;
        justify-content: space-between;
    }

  

    .container--productcard{
        background-color: var(--white);
        padding-top: 10px;
        border-radius: 10px;
        margin-bottom: 14px;
        padding-bottom: 10px;
    }

    .container--productcard>*{
        background: var(--white);
    }

    .container--productcard>*>*{
        background: var(--white);
    }

    .image--list{
        width: 130px;
        height: 200px;
    }

    .card--hr{
        margin-top: 14px;
        color: var(--gray);
        margin-bottom: 8px;
    }

    .font--price{
        text-align: center;
    }


    .container--star{
        width: auto;
        height: auto;
        visibility: visible;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .fa-star{
        color: var(--green);
        font-size: small;
    }

    .mobilepage{
        width: auto;
        height: auto;
        visibility: visible;
        justify-content: center;
    }


    .container--buttons{
        width: auto;
        height: auto;
        visibility: visible;
        justify-content: space-between;
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 26px;
       
    }

    .btn--round{
        border: none;
        background-color: var(--lightyellow);
        padding: 6px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 50px;
        color: var(--green);
        font-size: 18px;
        box-shadow: var(--gray)2px 2px 6px;
    }

    .btn--round>*{
        color: var(--green);
        font-size: 18px;
    }

    .fas{
        background-color: inherit;
        font-size: small;
        margin-left: 4px;
    }





}

.modal--itemadded{
    display: none;
    position: fixed;
    z-index: 1;
 
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;


    /* background-color: black; */
}

.modal--maintext{
    margin-bottom: 22px;
    font-weight: bold;
    color: var(--green);
    font-size: 20px;
    margin-top: 12px;

}



.modalcontent{
    border: solid 1px var(--darkgray);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 24px;
    background: var(--lightyellow);
    border-radius: 10px;
}

.modalcontent>*{
    background: var(--lightyellow);
}

.modalcontent>*>*{
    background: var(--lightyellow);
}

.modal--btn{
    justify-content: space-between;
}

.modal--defautbtn{
    background-color: var(--lightyellow) !important;
}

.modal--primarybtn{
    cursor: pointer;

}

.modal--defautbtn>.fas{
    background: inherit;
}

.modal--primarybtn>a{
    background: inherit;
    color: var(--lightyellow);
    transition: 0.5s;
}
.modal--primarybtn>a>.fas{
    font-size: small;
    background: var(--green);
}

.modal--primarybtn>a:hover{
    color: var(--yellow) !important;
}

.modal--productlst{
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal--productlst>*{
    margin: 8px;
}

.modal--image{
    width: 100px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
}