:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --while: #ffffff;
  
}

ul{
    list-style-type: none;
    
}




/* header component */
.cluster{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container--header{
    width: 100%;
    min-width: 100%;
}

.cluster--component{
    background-color: inherit;
    
}


.cluster>*+*{
    margin: 10px;
   
}


.navbar{
    background-color: var(--green);
    padding-right: 28px;
}

.header{
    background-color: var(--green);
    width: 100%;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    padding: 2px;
    
  


}

.header--component{
    background-color: var(--green);
    text-align: center;
    color: var(--yellow);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.searcharea{
    background-color: var(--green);
    padding-right: 28px;
    padding-left: 32px;
}

.nav--search{
    background-color: var(--green);
    width: 100%;
    height: 78px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    padding: 2px;
    z-index: 1;
    /* min-width: 750px; */

}



.brand{
    font-size: 38px;
    font-weight: bolder;
    font-family: "Arial Black", Helvetica, sans-serif;
    float:left;
    z-index: 2;
    background-color: var(--green);
    color: var(--while);
    margin-left: 10px;

    
}



.categorybar{
    background-color: var(--green);
    justify-content:stretch;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding-top: 6px;
    margin-bottom: 5px;
 
    
 
    
}



.categorybar>*+*{
    margin-right: 26px;
 
}

/* side product list components */
.side--row{
    /* border: solid; */
    width: 280px;
    padding: 14px 14px 0px 14px;
    
}

.side--hr{
    width: 260px;
    border: solid 1px;
    border-radius: 50px;
    border-color: var(--gray);
    margin-top: 7px;
    
}

div.row--scroll{
    overflow: auto;
    white-space: nowrap;
}

div.row--scroll>*+*{
    display: inline-block;
    margin: 8px;
    

}
/* category page component */
.category--single{
    width:fit-content;
    border: solid;

}

.category--single>img{
    margin-bottom:10px;
}

.category--single>.price{
    margin-top: 8px;
}

.price>*{
    background-color: var(--yellow);
    color: var(--green);
}
    

/* aboutus */
#container--aboutus{
    flex-wrap: nowrap; 
}

.container--aboutustext{
    margin-left: 22px;
    min-width: 600px;
}

.text--aboutus{
    margin-top: 18px;
}

/* footer */
.container--footer{
    
    min-width: 1000px;
    padding: 42px 84px;
    background-color: var(--green);
    position: relative;
}

.container--topfooter{
    
    min-width: 1000px;
    padding: 62px 84px;
    border-bottom: solid var(--darkgray) 1px;
    background-color: var(--green);
    position: relative;
    
}

.container--topfooter>*+*{
    margin-right:18%;
}

.subcontainer--footer{
    background-color: var(--green);
    
}

.subcontainer--footer>.title--small{
    font-weight: bolder;
}

.subcontainer--footer>*{
    color: var(--yellow);
}

/* shopping cart */
.cartheader{
    width: 1000px;
    height: fit-content;
    background-color: var(--green);
    color: var(--yellow);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 0px;
    margin-top:2px;
    margin-bottom: 2px;
    flex-wrap: nowrap;
    font-weight: bold;
}

.cartheader>*{
    background-color: var(--green);
}







