:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --white: #ffffff;
    --lightyellow:#FDFCF5;
}

*{
    background: var(--yellow);
    font-family: "Helbetica Neueu", Helbetiva, Arial;
    /* line-height: 22px; */
    
}

p{
    line-height: 22px;
}

.body, html {
    overflow-x:visible;
}






.container--homepage{
    justify-content: center;
    margin-top: 20px;
    /* padding-right: 10%;
    padding-left: 10%; */
}


.container--advertisement{
    width: 600px;
    min-width: 600px;
  

}

img{
    object-fit: cover;
    border-radius: 10px;
}


.image--advertise1{
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.image--subad{
    width: 48%;
    height: 125px;
    
}

.container--subad{
    justify-content: space-between;

}



.container--hotbooks{
    padding-left: 40px;
    width: 300px;
}

.image--side{
    width: 60px;
    height: 90px;
    margin-right: 10px;
}



.container--sideimage{
    width: 100%;
    
    padding: 14px 0px 0px 0px;
    
}

.side--hr{
    width: 100%;
    border: solid 1px;
    border-radius: 50px;
    border-color: var(--gray);
    margin-top: 7px;
}

.font--subtitle{
    font-weight: bolder;
    margin-bottom: 4px;
}

.font--by{
    color: var(--darkgray);
    margin-right: 4px;
}



.container--sidetext{
    margin-top: 10px;
    cursor: pointer;
}

.font--hometitle{
    color: var(--green);
    font-size: 20px;
    font-weight: bolder;
}

.container--showmore{
    margin-top: 10px;
    text-align: right;
    /* margin-left: 90%; */
  
}

.font--showmore{
    /* margin-top: 12px; */
    /* float: right; */
    
    color: var(--darkgray);
}

.font--showmore:hover{

    color: var(--green) !important;
    
}




/* horizontal */
.container--homehorizontal{
    /* border: solid; */

    width: 940px;
    margin-left: auto;
    margin-right: auto;
    border: solid var(--yellow);
    margin-top: 24px ;
    padding-top: 12px;
   
}

.container--singlelist{
    border: solid;
    border-color: var(--yellow);
    margin-top: 40px;

}

.container--listimage{
    margin-top: 16px;



}

.container--listimage>*+*{
    margin-left: 14px;

}

.image--list{
    width: 140px !important;
    height: 225px;
   
}

/* category */
.container--categories{
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border: solid var(--yellow);
}

.container--cateimage>*+*{
    margin-right: 20px;
    margin-top: 8px;
}

.container--homeselectionbar>*{
    border: solid var(--yellow);
    margin-top: 10px;
    padding-left: 0;
    font-family: "Helvetica Neueu", Helvetica;
    /* margin-bottom: 8px; */

}

.bottom--cateimage{
    margin-top: 20px;
    margin-bottom: 20px;
    
}



button{
    font-family: "Arial Black";

}

.btn--Primary{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--green);
    color:var(--yellow);
    padding: 10px 20px;
  
    /* box-shadow: 3px 3px 4px ; */
    
}

.btn--homepage{
    width: 30%;
}



.btn--Primary:hover{
    border: solid;
    border-color: var(--green);
    color: white;
    cursor: pointer;    
}

.container--categoriesmobile{
    width: 0;
    height: 0;
    visibility: hidden;
}




/* about us */

.container--aboutus{
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    border: solid var(--yellow);
    margin-top: 40px;
    margin-bottom: 30px;
}

.container--inneraboutus{
    margin-top: 16px;
}

.image--aboutus{
    width: 300px;
    height: 260px;
}

.container--aboutustext{
    padding-left: 30px;
}



.font--aboutustitle{
    color: var(--green);
    font-size: 20px;
    /* font-weight: bolder; */
    margin-bottom: 20px;
}

.font--paragraph{
    color: var(--darkgray);
    margin-bottom: 40px;
}


@media screen and (max-width:567px){

    body, html {
        overflow-x: hidden;
    } 



    .container--hotbooks{
        width: 0;
        height: 0;
        visibility: hidden;
        
    }

  
    .container--homepage{
        flex-direction: column !important;
        padding-right: 8%;
        padding-left: 8%;
       
   

    }

    .container--advertisement{
        min-width: auto;
        width: 100%;
    
    }

    .image--advertise1{
        position: 10px;
        height: 200px;
        margin-bottom: 14px;
    }

    .image--subad{
        height: 100px;
    }


    .container--homehorizontal{
        width: 100%;
        /* margin-left: 8%; */
        /* margin-right: 8%; */
        padding-top: 0px;

    
       
        
       
    }

    .container--singlelist>.font--hometitle{
        margin-left: 8%;
    }

    .container--listimage{
        
        overflow: auto;
   
        margin-left: 8%;
        margin-right: 8%;
    
        white-space: nowrap;
       


    }

    .image--list{
        width: 120px !important;
        height: 180px !important;
        box-shadow: 1px 1px 5px 2px var(--gray);
        
    }

    .container--showmore{
        margin-right: 8%;
    }

    /* category */
    .container--categories{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container--categories>*{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container--categories>*>*{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container--categoriesmobile{
        width: auto;
        height: auto;

        margin-left: 8%;
        margin-right: 8%;
        visibility: visible;
        margin-bottom: 52px;
        
    }

    .container--homebtn{
        justify-content: space-between;
        margin-top: 12px;
    }

  

   


    /* aboutus */
    .container--aboutus{
        width: 92%;
        padding-left: 8%;
 
       
    }

    .container--inneraboutus{
        flex-direction: column !important;
    }

    .container--aboutustext{
        padding: 0;
        width: 92%;
        padding-top: 26px;
    }

    .image--aboutus{
        width: 92%;
        height: 160px;
        
    }

    .font--aboutustitle{
        margin-bottom: 12px;
    }

   

}