:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --white: #ffffff;
    --lightyellow:#F8F7EF;
}


.paymentinput{
    background-color: var(--green) !important;
  
}



.paymentbody{
    background: var(--lightyellow);


}

.paymentpadding{
    padding-left: 8%;
    padding-right: 8%;
}


.container--paymentselectbar{
    margin-top: 32px;
    margin-bottom: 20px;


}

.container--paymentselectbar>*+*{
    margin-left: 34px;
    

}

.paybtn--selected{
    background: none;
    border: none;
    color: var(--green);
    font-size: 20px;
}

.paybtn--unselected{
    background: none;
    border: none;
    color: var(--darkgray);
    font-size: 18px;

}


.container--checkoutbody{
    justify-content: space-between;
    
}



.checkoutbody--left{
    width: 60%;
}

.container--checkoutform{
    justify-content: space-between;
    
}

.checkoutform--single{
    margin-bottom: 28px;
}

.font--checkouttitle{
    font-size: 18px;
    margin-bottom: 4px;

}

.font--checkoutlabel{
    font-size: 16px;
    margin-top: 12px;
}

.font--red{
    color: red;
}

.checkoutinput{
    border: solid 1px var(--green);
    border-radius: 50px;
    width: 100%;
    padding: 8px;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.subcontainer--post{
    justify-content: space-between;
}

.subcontainer--post>*{
    width: 45%;
}

.container--checkbox{
    margin-top: 12px;
}

.checkbox{
    border-color: var(--green);

    margin-right: 8px;
}

.checkoutselect{
    width: 60%;
    border: solid 1px var(--green);
    border-radius: 50px;
    padding: 6px;
    padding-right: 10px;
    margin-top: 8px;
}

.checkoutform--left{
    width: 45%;
}

.checkoutform--right{
    width: 45%;
}


.container--btnplaceorder{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;

    
}

.btn--placeorder{
    width: 90%;
    /* margin-left: 24px; */
    border: solid;
    border-color: var(--green);
    border-radius: 50px;
    background-color: var(--green);
    color:var(--yellow);
    padding: 8px 20px;
    font-family: "Arial black";

}




.checkoutbody--right{
    width: 28%;
}

.container--payorderinfoheader{
    width: 100%;
    text-align: center;
}

.container--payorderinfoheader>P{
    font-size: 20px;
    color: var(--green);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
   

}

.container--payorderinfoheader>hr{
    border: solid 1px var(--gray);
    border-radius: 50px;
}

.container--singlecheck{
    padding-top: 14px;
    padding-bottom: 14px;
}

.subcontainer--checkinfo{
    /* padding-top: 14px; */
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container--checkqty{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.font--multiqty{
    margin-left: 4px;
   
}

.font--checkoutprice{
    margin-top: -9px;
    font-size: 24px;

    
}

.img--checkproduct{
    width: 80px;
    height: 120px;
    border-radius: 10px;
    margin-left: 18px;

}


.btn--checkdefault{
    width: 100%;
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--lightyellow);
    color:var(--green);
    padding: 10px 20px;
    cursor: pointer; 
    font-family: "Arial black";
}