:root{
    --green: #293932;
    --darkgreen: #1c2923;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --white: #ffffff;
    --lightyellow:#FDFCF5;
}

.background-color{
    background: var(--yellow);


}

.margin{
    margin-left: 8%;
    margin-right: 8%;
}

.container--shoppingcartheader{
    margin-top: 40px;
}

.font--head{
    color: var(--green);
    font-weight: bold;
}

.shoppingcartheader--child{
    width: 100%;
    justify-content: space-between;
    margin-top: 12px;

}

.shoppingcartheader--child>*>.fa-chevron-left{
    font-size: large;
    margin-right: 18px;

}

.font--gray{
    color: var(--darkgray);
    font-size: 14px;
}

.greenline{
    border: solid 1px;
    border-radius: 50px;
    color: var(--green);
    margin-top: 2px;
}



.container--carttableheader{
    width: 90%;
    background: var(--green);
    margin-top: 24px;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.container--carttableheader>*{
    color: var(--yellow);
    /* text-align: center; */
}

.container--info{
    text-align: start;

   
    width: 50%;
}

.container--uninfo{
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin--150{
    margin-left: 130px;
}

.container--tabledelete{
    width: 5%;
}



/*table*/
.container--withline{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    
}

.container--cartproduct{
    margin-bottom: 16px;
    justify-content: space-between;
}


.img--cartproduct{
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-left: 18px;
   

}

.subcontainer--cartinfotext{
    margin-left: 10px;
}

.bold{
    font-size: 18px;
    font-weight: bold;
}

.font--cartinfo{
    font-weight: lighter;
}

.font--cartprice{
    font-size: 24px;
    font-weight: lighter;
}

.fa-times-circle{
    font-size: large;
    color: var(--green);
    cursor: pointer;
}

.subcontainer--cartproductinfo{
    width: 50%;
}

.select{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 4px;
    border: solid 1px var(--green);
  
}

.subcontainer--cartdelete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
}


/*coupon*/
.container--coupon{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    justify-content: flex-end;
}

.font--coupons{
    font-size: 20px;
    font-weight: bolder;
    color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input--coupons{
    border: solid 1px var(--green);
    border-radius: 50px;
    margin-left: 12px;
    /* padding: 1px; */
    font-size: 16px;
    padding-left: 20px;
    width: 380px;
    height: 34px;
}

.btn--apply{
    margin-left: 24px;
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--green);
    color:var(--yellow);
    padding: 8px 20px;
    font-family: "Arial black";
    cursor:pointer;




    /* height: 34px; */
}

.btn--apply:hover{
    box-shadow: var(--gray) 2px 2px 2px;
    background-color: var(--darkgreen);
}

.btn--apply>*{
    color: var(--yellow);
}

.btn--apply>a:hover{
    color: var(--white);
}

.flex--column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container--total{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 24px;
}

.subcontainer--removeall{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn--removeall{
    background: none;
    border: none;
    color: var(--darkgray);
    font-size: 16px;
}

.btn--removeall:hover{
    color: black;
    cursor: pointer;
}

.subcontainer--total{
    width: 300px;
    
}

.container--subtotal{
    justify-content: space-between;
    margin-bottom: 4px;

}

.font--subtotal{
    font-size: 16px;
  
    color: var(--green);
}

.font--subtotalnum{
    font-size: 16px;
    color: var(--green);

}

.font--carttotal{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 4px;
    color: var(--green);
}

.font--carttotalnum{
    margin-top: 4px;
    font-size: 24px;
    color: var(--green);
}


.container--cartbuttons{
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 60px;
}



.fa-chevron-right{
    margin-left: 14px;
    font-size: large;
    vertical-align:baseline;
}

.checkicon{
    margin-right: 18px;
}

.btn--default{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--yellow);
    color:var(--green);
    padding: 10px 20px;
    cursor: pointer; 
    font-family: "Arial black";
   
}

.btn--default>a{
    color: var(--green);
}

.btn--default>a:hover{
    color: var(--green) !important;
}

.btn--default:hover{
    box-shadow: var(--gray) 2px 2px 2px;
}

.desktophidden{
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
}

.grayhr{
    border: solid 1px var(--gray);
    border-radius: 50px;
}


@media screen and (max-width:567px){
    .subcontainer--total{
        width: 100%;
    }


    .hiddenformobile{
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;

    }

    .desktophidden{
        width: auto;
        height: auto;
        margin: auto;
        visibility: visible;
    }

    

   .container--total{
       justify-content:flex-start;
       width: 100%;
       margin: 0;
       margin-top: 24px;
       margin-bottom: 60px;
   }


   .mobile--couponcontainer{
       margin-top: 26px;
   }

   .mobile--couponinput{
       margin-top: 6px;
       justify-content: space-between;
   }

   .mobilecouponinput{
       border: solid 1px var(--green);
       padding: 4px;
       padding-left: 10px;
       border-radius: 50px;
       width: 75%;
   }

   .mobileapplybtn{
       background: none;
       border: none;
       color: var(--green);
       font-weight: bolder;
   }



   .mobile--cartline{
       margin-bottom: 10px;

   }

   .mobile--cartproductcontainer{
       justify-content: space-between;
       margin-bottom: 12px;
       padding: 0 4px;
   }

   .mobilesub--cartinfo{
       margin-left: 10px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   .mobile--cartimg{
       width: 80px;
       height: 120px;
       border-radius: 10px;
   }

   .select{
       border-radius: 50px;
       padding: 0;
       width: 40px;
       margin-bottom: 4px;
   }


}

.container--checktotalcal{
    justify-content: flex-end;
    margin-top: 14px;
    margin-bottom: 28px;

}

.container--checktotalcal>div{
    width: 40%;
}

.subcontainer--checktotalcal{
    justify-content: space-between;
    margin: 4px;

}

.font--large{
    font-size: 20px;
    font-weight: bold;
}