:root{
    --green: #293932;
    --yellow: #f0ede0;
}

*{
    font-family: "Helbetica Neueu", Helbetiva, Arial;
    background-color: var(--yellow);
}

input{
    border-radius: 50px;
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color: white;
    padding: 10px 20px;
}

input:hover{
    border: solid;
    border-color: var(--green);
}





button{
    font-family: "Arial Black";

}

.btn--Primary{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--green);
    color:var(--yellow);
    padding: 10px 20px;
    /* box-shadow: 3px 3px 4px ; */
    
}

.btn--Primary:hover{
    border: solid;
    border-color: var(--green);
    color: white;
    cursor: pointer;    
}

.btn--Default{
    border: solid;
    border-color: var(--green);
    border-radius: 5px;
    background-color: var(--yellow);
    color:var(--green);
    padding: 10px 20px;
    cursor: pointer;  
}


.btn--Default:hover{
    background-color: white;
}

.fas{
    color: var(--green);
}

