<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="header.css">
    <title>Footer</title>
</head>
<body>
    <div class="container--footer">
        <div class="cluster footer--row1">
            <div class=footer--row1child>
                <div class="footer--visible">
                    Contact
                </div>
                <hr class="footer-br">
                <div class="footer--hidden">
                    <li>(07)3291 7444</li>
                    <li>online@qbd.com.au</li>
                    <li>Contact Form</li>
                </div>
                

            </div>
            <div class=footer--row1child>
                <div class="footer--visible">Information</div>
                <hr class="footer-br">
                <div class="footer--hidden">
                    <li>About QBD</li>
                    <li>Privacy Policy</li>
                    <li>Terms of Use</li>
                    <li>Sitemap</li>
                </div>

            </div>
            <div class=footer--row1child>
                <div class="footer--visible">Help</div>
       
                <div class="footer--hidden">
                    <li>Unsubscribe</li>
                    <li>Shipping & Delivery</li>
                    <li>Returns Policy</li>
                    <li>FAQ</li>
                    <li>About Zip</li>
                </div>


            </div>

        </div>

        <div class="footer--row2">
            <p class="paragraph">RRP refers to the Recommended Retail Price as set out by the original publisher at time of release.</p>       
            <p class="paragraph">The RRP set by overseas publishers may vary to those set by local publishers due to exchange rates and shipping costs.</p>  
            <p class="paragraph">Due to our competitive pricing, we may have not sold all products at their original RRP.</p> 
            <br>
            <p class="paragraph">© 2021 QBD Books - ABN: 54 614 038 765/p>

        </div>


    </div>
    
</body>
</html>