:root{
    --green: #293932;
    --yellow: #f0ede0;
    --gray: #BBC1BE;
    --darkgray: #707070;
    --white: #ffffff;
    --lightyellow:#FDFCF5;
}

*{
    margin:0;
}




a{
    text-decoration: none;
}

a:hover{
    color:var(--white) !important;
}

header>*{
    background: var(--green);
}

header>*>*{
    background: var(--green);
}

header>*>*>*{
    background: var(--green);
}



li{
    list-style-type: none;
}


.cluster{
    display: flex;
    flex-direction: row;
}

.container--header{
    background-color: var(--green);
    color: var(--yellow);
    width: inherit;
    min-width: 100%;
    margin: 0;
    padding-top: 14px;
    /* padding: 10px; */
  
}

.header--row1{
    justify-content: flex-end;
    margin-bottom: 12px;
    background: var(--green);

    margin-left: 12px;
    margin-right: 24px;

}

.header--row1>*{
    background-color: var(--green);
}

.header--row1>*>*>*{
    background-color: var(--green);
}

.header--row1>div>a{
    background: var(--green);
    color: var(--yellow);
 
 
  
}

.header--row1--child{
    margin-left: 8px;
    margin-right: 8px;
}

.header--row2{
    justify-content: flex-end;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 14px;
    margin-right: 24px;
}

.header--row3{
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 5%;
   
    
}

.header--row3>*+*{
    margin-right: 32px;
    margin-top: 24px;
    margin-bottom: 12px;
   
}

.header--row3>li>a{
    color: var(--yellow);
    font-weight: bolder;
    background-color: var(--green);
}

.header--row2>*>*{
    background-color: var(--green);
}


.header--row2>input{
    border-radius: 50px;
    border: none;
    border-color: white;
    border-width: 1px;
    background-color: var(--lightyellow);
    padding: 8px 20px;
    width: 70%;
}

.header--row2>button{
    background-color: inherit;
    color: var(--yellow);
    margin-left: 4px;
    border:none;
    border-radius: 4px;
    font-size: large;
    /* border: 4px; */
}

.brand{
    float: left; 
    font-size: 2.5em;
    margin-left: 8%;
    font-weight: bold;
    color: var(--white);
    font-family:cursive;

}

.menuside{
    visibility: hidden;
}

.btn--menu{
    margin-left: 24px;
    margin-right: 6px;
    color: var(--yellow);
}

/*drop down*/
.font--dropdown{
    background-color: var(--green);
    color: var(--yellow);
    font-weight: bold;


}

.dropdown-content{
    display: none;
    position: absolute;
    color: black;
    background: var(--white);
    padding: 4px;
    border-radius: 2px;
    width:fit-content;
    min-width: 160px;
    z-index: 2;

}

.dropdown-content>*{
    margin: 8px;
    
}

.dropdown-content>a{
    background: none;
    color: var(--green);
    transition: 0.5s;
}

.dropdown-content>a:hover{
    font-weight: bold;
    color: var(--green) !important;
    
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.dropdown:hover #normalcart{
    z-index: -6;

}


.font--headerselected{
    color: white !important;
    background: var(--green);

    

}

.shoppingcart--dropdown{
    min-width: 140px !important;
    text-align: center;
    padding: 0 !important;


}

.dropdown--cartcontent{
    justify-content: space-between;
    background: var(--white);
}
.dropdown--cartcontent>*{
    background: var(--white);
}

.dropdown--cartcontent>*>*{
    background-color: var(--white) !important;
}



.dropdown--image{
    width: 60px;
    height: 90px;
    border-radius: 5px;
}

.dropout--button{
    width: 100%;
    background: var(--green);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.container--dropbutn{
    background: var(--white);
}

.dropout--button>a{
    color: var(--lightyellow);
    background: var(--green);
}

.subtotal{
    text-align: left;
}

.subtotal>.price{
    font-size: 20px;
    font-weight: bold;
}

.subtotal>*{
    background: var(--white);
}





/*mobile menu*/
.mobilemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--lightyellow);
    overflow-x: hidden;
    transition: 0.5s;
    border: none;
}

.mobilemenu--top{
    width: 100%;
    border: none;
    height:fit-content;
    /* max-height: 100px; */
}

.container--closemenu{
    text-align: end;
    padding: 8px;
}

.fa-times{
    color: var(--lightyellow);
    margin-right: 4px;
    background-color: var(--green);
}

.container--hello{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
}

.font-hello{
    background: var(--green);
    color: var(--yellow);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container--loginbtns{
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    justify-content: space-between;
    background: var(--green);
}

.container--loginbtns>button{
    border: solid 1px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    background: var(--lightyellow);

}

.mobilemenu--bottom{
    padding-top: 28px;
    background-color: var(--lightyellow);
}

.container--mobilemenuitems{
    background: var(--lightyellow);
    padding: 10px;
    border: none;
   
}

.container--mobilemenuitems>p{
    background-color: var(--lightyellow);
    color: var(--green);
    margin-bottom: 14px;
    font-weight: bold;
    border: none;

}

.container--mobilemenuitems>hr{
    border: solid 1px var(--darkgray);
    margin-bottom: 14px;
    border-radius: 50px;
    
}

.container--mobilemenusubitems{
    padding-bottom: 10px;
    background-color: var(--lightyellow);
    padding-left: 20px;
}
.container--mobilemenusubitems>a,.container--mobilemenusubitems>p{
    /* margin-left: 20px; */
    background-color: var(--lightyellow);
    color: var(--green);
    margin-bottom: 4px;
    margin-top: 4px;
}



@media screen and (max-width: 567px){

    header{
    
        width: 100%;
        position: fixed;
        top: 0;
    }

    .container--homepage {
        margin-top: 120px !important;
    }

    .container--catetitle{
        margin-top: 120px !important;
    }

    .categoryMargin, .margin{
        margin-top: 120px;
    }

    


    *{
        margin:0;
    }
    .container--header{
        width: 100%;
    }


    .header--row3{
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .header--row1{
        margin-right: 24px;
    }

    .header--hidden{
       font-size: 0;
        /* visibility: hidden; */
    }

    .fas{
        font-size: large;
    }

    .header--row2>input{
        border-radius: 50px;
        border: none;
        border-color: white;
        border-width: 1px;
        background-color: var(--lightyellow);
        padding: 8px 20px;
        width: 100%;
        margin-left: 24px;
   
       
    }

    .menuside{
        visibility:visible;
        background-color: var(--green);
    }

    .menuside>*{
        background-color: var(--green);
    }

    .menuside>*>*{
        background-color: var(--green);
    }

    .brand{
        width: 0;
        height: 0;
        visibility: hidden;
       
    }

    .header--row2{
        margin-top: 12px;
    }


    .dropdown-content{
        visibility: hidden;
        
    }
  


  
    
}

